<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= school %></title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1><%= school.school %></h1>
    <p><%= school.location %></p>
    <p><%= school.public ? 'Public College' : 'Private College' %></p>
    <h3>Available Sports:</h3>
    <h1><%= school.teams %></h1>
    <ul>
        <% school.teams.forEach(item => { %>
        <li>
            <a href="/teams/<%= item.id %>"><%= item.sport %></a><br />
            Genders: <%= item.genders %>
        </li>
        <% }) %>
    </ul>
    <form action="/schools/<%= school.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete This School">
    </form>
    <form action="/schools/<%= school.id %>/edit" method="GET">
        <input type="submit" value="Edit This School">
    </form>
</body>
</html>
